<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464361943996-vkgdo2mpfr1q483lckjnvicagb8eg6cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464361943996-vkgdo2mpfr1q483lckjnvicagb8eg6cg</string>
	<key>API_KEY</key>
	<string>AIzaSyCAvO9p7AiI7UaKIDIyuKJJgnznr_H5FP8</string>
	<key>GCM_SENDER_ID</key>
	<string>464361943996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-b5380</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-b5380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464361943996:ios:22b89e6662d9b604acb1b9</string>
</dict>
</plist>